doctype html
html(lang="en")
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.title.h1 Password Reset
      p 
        <a href="https://www.google.com/auth/password/reset?token=#{password_reset_token}" target="_blank">Link</a>